/*

SOLARIZED HEX     RGB
--------- ------- -----------
base03    #002b36   0  43  54
base02    #073642   7  54  66
base01    #586e75  88 110 117
base00    #657b83 101 123 131
base0     #839496 131 148 150
base1     #93a1a1 147 161 161
base2     #eee8d5 238 232 213
base3     #fdf6e3 253 246 227
yellow    #b58900 181 137   0
orange    #cb4b16 203  75  22
red       #dc322f 220  50  47
magenta   #d33682 211  54 130
violet    #6c71c4 108 113 196
blue      #268bd2  38 139 210
cyan      #2aa198  42 161 152
green     #859900 133 153   0

 */
body {
    background-color: #002b36;
    color: #93a1a1;
}

 /******* SOME TOPIC STUFF *******/
#topic, .history {
    color: #657b83;
    font-size: 100%;
}

#wrap {
    background-color: #002b36;
    border-bottom: 1px solid rgba(88,110,117,.6);
    border-bottom: 1px solid #657b83;
}
 /******* END TOPIC STUFF *******/

#insert,
.message,
.status,
.event {
  clear: both;
  padding: 2px 0px;
}

.action,
.status,
.event {
  color: #586e75;
  font-style: normal;
  font-size: 100%;
}

.action {
  color: rgba(147, 161, 161, 0.8);
}

.action .sender:before,
.action .themessage:after {
  content: "*";
  white-space: nowrap;
  font-style: italic;
}

.action .sender:before {
  margin-right: 8px;
}

.action .themessage:after {
  margin-left: 8px;
}

.time {
    color: #657b83;
    margin: 3px -4.5px auto 0px;
    float: none;
}

.mention {
    background-color: rgba(211,54,130, 0.15);
    border-top: 1px dashed rgba(211,54,130, 0.8);
    border-bottom: 1px dashed rgba(211,54,130, 0.8);
}

.andyet .mention,
.andyet .status {
    background-color: #073642;
}

.status {
    font-style: normal;
}


.status * {
    color: #657b83;
}

.history {
    background-color: rgba(7,54,66,.45);
    opacity: 0.6;
}

.history .sender {
    color: rgba(88,110,117,.75);
}

.history + :not(.history) {
    border-top: 1px dashed #b58900;
}

.history.mention {
    color: rgba(88,110,117,.95);
    border-top: 1px dashed rgba(211,54,130, 0.8);
    border-bottom: 1px dashed rgba(211,54,130, 0.8);
}

a {
    color: #268bd2;
}

.firstFocus {
  border-top: none;
  background-color: rgba(7, 54, 66, 0.4)
}

span.marker {
  display: none;
}

div.firstFocus {
  border-top: none;
}

div.firstFocus span.marker {
  display: block;
  font-size: 200%;
}
